body {
	font-family: 'Open Sans', 'sans-serif';
}

.container {
	width: 1024px; 
	height: 768px;
	border: 1px solid black;
	margin: 0 auto;
	background: url('../img/room2.jpg');
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

.content {
	width: 90%;
	margin: 20px auto;
	position: relative;
}

h1, h2, h3, a { 
	font-family: 'Lato', 'sans-serif';
	font-weight: 300;
	text-transform: uppercase;
}

/* Start Page Content */
.start_page_content {
	width: 590px;
	margin: 200px auto;
}

.start_logo {
	position: relative;
	width: 250px;
	margin: 0 auto;
}

.start_logo img {
	width: 280px;
}

.start_logo h3 {
	position: absolute;
	display: inline;
	font-weight: 700;
	font-size: 1.6em;
	top: 40px;
	margin: 0;
	color: #2d2d2d;
	letter-spacing: 1px;
}

.start_shopping_btn {
	height: 200px;
	background-color: rgba(255,255,255,0.6);
	margin: 0 auto;
}

.start_shopping_btn i { 
	font-size: 0.8em;
}

.start_shopping_link {
	text-transform: uppercase;
	text-decoration: none;
	color: #2d2d2d;
	font-size: 3.5em;
	font-weight: 700;
	line-height: 200px;
	margin-left: 9%;
}

.start_info_h3 {
	color: white;
	text-shadow: 1px 2px 3px #282828;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 400;
}

/* Home Page */
.home_box_container {
	width: 100%;
}

.home_box_container img {
	height: 50%;
}

.home_box {
	background-color: rgba(255,255,255,0.5);
	width: 290px;
	height: 290px;
	display: inline-block;
	margin: 85px 14px 0px 0px;
	vertical-align: top;
	text-align: center;
}

.home_box h4 {
	text-align: center;
	font-family: 'Lato';
	text-transform: uppercase;
	font-size: 1.8em;
	font-weight: 700;
	letter-spacing: 1px;
	color: #DF1F29;
	text-shadow: -1px 1px 1px #383838;
	margin-bottom: 20px;
	margin-top: 20px;
}

.home_box h5 {
	font-size: 1.3em;
	margin: 5px;
}

.box_info {
	height: 61px;
	background-color: rgba(255,255,255,0.5);
	
}
.home_box p {
	display: inline-block;
	margin: 0;
}

.home_box .sale {
	color: red;
}

.home_box .before {
	text-decoration: line-through;
}

/* Header */
.home_logo_img {
	width: 120px;
}

.main_nav {
	text-align: center;
}

.main_nav a{
	width: 33%;
}

.fa {
	color: #2d2d2d;
}

.fa-shopping-cart {
	position: absolute;
	right: 20px;
}

.fa-search {
	position: absolute;
	left: 20px;
}

/* nav - categories */

.product_caterogy {
	margin-right: 10px;
}

.product_categories {
	text-align: center;
	line-height: 100px;
	margin-top: 45px;
	
}

.product_categories p {
	background-color: rgba(255,255,255,0.6);
	display: inline-block;
    margin: 5px;
	height: 100px;
	width: 20%;
}

.product_categories a {
	color: #2d2d2d;
	text-decoration: none;
	
}

/* Product Page */
#products {
	overflow-y: scroll;
	height: 370px;
}
#products::-webkit-scrollbar {
    width: 15px;
}
 
#products::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
#products::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.product {
	width: 150px;
	height: 250px;
	display: inline-block; 
	vertical-align: top;
	margin: 0 13px 13px 13px;
	position: relative;
	background-color: rgba(0,0,0,0.6);
}

.product_description {
	padding: 10px;
	margin-top: -5px;
}

.product_description a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.price_1 {
	text-align: center;
	font-family: 'Lato';
	font-size: 1.5em;
	margin-top: 13px;
}

.product_title {
	position: absolute;
	background-color: black;
	color: white;
	width: 150px;
	text-align: center;
	padding: 15px 0px;
	top: 105px;
	font-weight: 300;
	text-decoration: none;
}

.product_info {
	color: #fff;
	font-size: 14px;
}

.add_to_cart_btn {
	background-color: rgb(28, 136, 28);
	width: 250px;
	padding: 15px;
	color: white;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 1.1em;
	font-family: 'Lato';
	letter-spacing: 1px;
}

.fa-plus {
	color: white;
	margin-left: 5px;
}

#cboxClose {
	line-height: 23px;
}

.price {
	text-align: left;
	padding-left: 23px;
}

.single_product_box {
	text-align: center;
}

.readmore {
	text-align: center;
	width: 130px;
	position: absolute;
	bottom: 10px;
	font-size: 13px;
}

.back_btn {
	position: absolute;
	top: 112px;
	left: 20px;
}

.category_title {
	text-align: center;
	font-weight: 300;
	font-size: 2.4em;
	margin: 60px auto;
	color: #2d2d2d;
}

.sub_categories {
	height: 70px;
	margin-bottom: 30px;
}

.sub_cat {
	display: inline;
	font-size: 1em;
	background-color: rgba(255,255,255,0.5);
	padding: 20px 16px;
	margin: 14px;
	font-weight: 300;
	font-family: 'Lato';
}
